.promo {
    padding: 24px 0 71px 0;
    background-color: #000;
    &__wrapper {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 485px 655px;
        // padding-top: 100px;
        column-gap: 91px;
    }
    &__col-1 {
        margin-top: 61px;
    }
    &__descr {
        margin-top: 17px;
        margin-bottom: 49px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    
        color: #FFFFFF;
    }
    &__col-2 {
        position: relative;
        img {
            position: absolute;
            top: -50px;
        }
    }
    &__btn {
        margin-right: 30px;
    }
    &__platforms {
        margin-top: 160px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}