.btn {
    width: 165px;
    height: 46px;
    background: #006AFF;
    border-radius: 37px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    &_transparant {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #FFFFFF;
        border-radius: 37px;
    }
    &_black {
        background-color: #000;
    }
}