@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish&display=swap');
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import './base/elements/btn';
@import './base/elements/title';

@import './blocks/nav/nav';
@import './blocks/promo/promo';
@import './blocks/all/all';
@import './blocks/help/help';
@import './blocks/business/business';
@import './base/tns.css';
@import './blocks/famous/famous';
@import './blocks/footer/footer';



@import './base/media';